h1{
    font-size:45px;
    text-align:center;
    border-bottom: 2px solid pink;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

li{
    font-size: 30px;
    text-align: center;
    list-style: none;
}

p{
    border-top: 2px solid pink;
    text-align: center;
    padding-top: 16px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

a{
    text-decoration: none;
    color: black;
}